/* @font-face {
    font-family: "Amiri";
    src: url("./fonts/Amiri-Regular.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Amiri";
    src: url("../fonts/Amiri-Bold.ttf") format('truetype');
    font-weight: bold;
    font-style: normal;
} */

@font-face {
    font-family: "DejaVu Sans";
    src: url("/vendors/dompdf/lib/fonts/DejaVuSans.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'DejaVu Sans';
}

.header {
    font-size: x-large;
    font-weight: bold;
    font-family: "DejaVu Sans";
    background-image: url('../../../../logo.png');
}

.reportTitle {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: blue;
}